---
import Layout from '../layouts/Med.astro'
import MusicList from '../components/MusicList.astro'
import Gmain from '../components/Gmain.astro'
import { getAllRel } from '../lib/api.js';
import GroupList from '../components/GroupList.astro';
const seo = {
  title: 'Главная страница',
  description: '',
}

export interface Props {
  music: any;
}



const getAllRels = await getAllRel();
---



<Layout seo={seo}>
        <section data-w-id="72357fd5-bc7a-79cd-c7c6-bf38322bca11" class="section services wf-section">
            <div class="container-default w-container">

                <div data-w-id="413c3d05-70c2-81cd-e123-88ea1ac91d8b" class="plan-content-top">
                    <div class="plan-title-wrapper">
                        <h1 class="title plan">Медицинское диагностическое оборудование</h1>
                    </div>
                    <p class="paragraph plan-description">То, без чего сегодня невозможно представить современную медицину. Эта категория включает в себя компьютерные и магнитные томографы, рентгенологические сканеры, аппараты для ультразвукового исследования, маммографы и другие виды аппаратуры.</p>
                    <div class="subtitle">Перечень оборудования</div>
                    <div class="w-layout-grid plan-features-grid">
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Рентген аппараты (рентгеноскопия, флюорография, рентгенография)
                            </div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Томографы (компьютерные, магнитно-резонансные, позитронно-эмиссионные)
                            </div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Маммографы</div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>УЗИ аппараты (портативные УЗИ аппараты, стационарные УЗИ аппараты)</div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Электрокардиографы</div>
                        </div>
                    </div>
                </div>

                <div data-w-id="413c3d05-70c2-81cd-e123-88ea1ac91d8b" class="plan-content-top">
                    <div class="plan-title-wrapper">
                        <h1 class="title plan">Реанимационное, анестезиологическое и хирургическое оборудование </h1>
                    </div>
                    <p class="paragraph plan-description">Это комплекс аппаратуры, который позволяет проводить высокотехнологичные операции, применять эффективное и безопасное обезболивание, проводить экстренные реанимационные меры по спасению жизни и здоровья пациентов. В него входят как
                        столы и светильники для операционных, так и медицинские насосы, наркозно-дыхательные аппараты, мониторы пациентов. От правильного подбора этой техники зависит качество работы персонала, а значит, и результат лечения пациентов.
                    </p>
                    <div class="subtitle">Перечень оборудования</div>
                    <div class="w-layout-grid plan-features-grid">
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Мониторы пациентов
                            </div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Центральная станция мониторирования
                            </div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Дефибрилляторы-мониторы</div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Наркозно-дыхательные аппараты</div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Аппараты искусственной вентиляции лёгких</div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Медицинские насосы</div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Светильники операционные</div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Операционные столы
                            </div>
                        </div>
                    </div>
                </div>

                <div data-w-id="413c3d05-70c2-81cd-e123-88ea1ac91d8b" class="plan-content-top">
                    <div class="plan-title-wrapper">
                        <h1 class="title plan">Лабораторное медицинское оборудование </h1>
                    </div>
                    <p class="paragraph plan-description">Это комплекс технических устройств, в который входят различные приборы, аппараты и приспособления, дающие возможность осуществлять лабораторные исследования для различных медицинских целей. Основным назначением лабораторного медицинского
                        оборудования в медицинских лабораториях является проведение исследований физических и химических свойств различных веществ, проб окружающей среды, а также биологических тканей и жидкостей.</p>
                    <div class="subtitle">Перечень оборудования</div>
                    <div class="w-layout-grid plan-features-grid">
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Медицинские анализаторы (биохимические, гематологические, коагулометры, иммунохимические, микробиологические, анализаторы мочи и кала, анализаторы СОЭ)
                            </div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Микроскопы лабораторные и профессиональные
                            </div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Фармацевтические холодильники и морозильные камеры </div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Электрохимическое оборудование</div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Весы лабораторные, аналитические и медицинские</div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Лабораторная и медицинская мебель
                            </div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Лабораторное оборудование</div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Ламинарные и бактерицидные шкафы
                            </div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Центрифуги и перемешивательные аппараты
                            </div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Стерилизаторы и дезинфицирующие аппараты </div>
                        </div>
                    </div>
                </div>

                <div data-w-id="413c3d05-70c2-81cd-e123-88ea1ac91d8b" class="plan-content-top">
                    <div class="plan-title-wrapper">
                        <h1 class="title plan">Медицинские эндоскопы </h1>
                    </div>
                    <p class="paragraph plan-description">Это диагностическое и терапевтическое оборудование с широкой сферой применения. Основное назначение – проведение диагностических обследований органов ЖКТ и терапевтического лечения под видеонаблюдением или контролем УЗИ.</p>
                    <div class="subtitle">Перечень оборудования</div>
                    <div class="w-layout-grid plan-features-grid">
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Гастроскопы
                            </div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Томографы (компьютерные, магнитно-резонансные, позитронно-эмиссионные)
                            </div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Колоноскопы</div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Дуоденоскоп</div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Энтероскопы</div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Видеооборудование и система визуализации</div>
                        </div>
                    </div>
                </div>

                <div data-w-id="413c3d05-70c2-81cd-e123-88ea1ac91d8b" class="plan-content-top">
                    <div class="plan-title-wrapper">
                        <h1 class="title plan">Средства для реабилитации инвалидов</h1>
                    </div>
                    <p class="paragraph plan-description">К средствам реабилитации инвалидов относятся устройства, содержащие технические решения, в том числе специальные, используемые для компенсации или устранения стойких ограничений жизнедеятельности инвалида.</p>
                    <div class="subtitle">Перечень оборудования</div>
                    <div class="w-layout-grid plan-features-grid">
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Средства для реабилитации пациентов
                            </div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Тренажёры для активно-пассивной реабилитации
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

</Layout>


<style>

</style>