---
import Layout from '../layouts/Med.astro'
import MusicList from '../components/MusicList.astro'
import Gmain from '../components/Gmain.astro'
import { getAllRel } from '../lib/api.js';
import GroupList from '../components/GroupList.astro';
const seo = {
  title: 'Главная страница',
  description: '',
}

export interface Props {
  music: any;
}



const getAllRels = await getAllRel();
---



<Layout seo={seo}>

        <section data-w-id="72357fd5-bc7a-79cd-c7c6-bf38322bca11" class="section services wf-section">
            <div class="container-default w-container">
                <div data-w-id="72357fd5-bc7a-79cd-c7c6-bf38322bca13" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="content-top services">
                    <div class="split-content services-left">
                        <h1>Our Services</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit velit, sapien habitant integer senectus malesuada ac.</p>
                    </div>
                    <div class="split-content services-right"><a href="/plans" class="button-primary w-button">Book an Appointment</a></div><img src="https://assets.website-files.com/601d7e7320ecf079f58169fd/6022b3d4431e40819c902652_shape-2-services-dentist-template.svg" data-w-id="72357fd5-bc7a-79cd-c7c6-bf38322bca1c"
                        alt="" class="shape services-1" style="will-change: transform; transform: translate3d(0px, -16px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
                <div class="services-wrapper">
                    <div class="w-dyn-list">
                        <div data-w-id="72357fd5-bc7a-79cd-c7c6-bf38322bca1f" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" role="list" class="services-grid w-dyn-items">
                            <div role="listitem" class="card-service-item w-dyn-item">
                                <a href="/service/cosmetic-dentistry" class="card service w-inline-block">
                                    <div class="image-wrapper card-service"><img src="https://assets.website-files.com/601d7e7320ecf0fa9e816a33/60bb873f67aecc71736f3b22_cosmetic-dentistry-dentist-webflow-template.svg" alt="Cosmetic Dentistry" class="image card-service" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
                                    <div class="card-service-content">
                                        <h2 class="title card-service heading-size-h3" style="color: rgb(24, 20, 67);">Cosmetic Dentistry</h2>
                                        <p class="paragraph card-service">Lorem ipsum dolor sit amet, diument consectetur adipiscing elit. </p>
                                        <div class="link-underline-wrapper">
                                            <div>Learn More</div>
                                            <div class="underline" style="transform: translate3d(-100%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div role="listitem" class="card-service-item w-dyn-item">
                                <a href="/service/orthodontics" class="card service w-inline-block">
                                    <div class="image-wrapper card-service"><img src="https://assets.website-files.com/601d7e7320ecf0fa9e816a33/60bb87466544e0596f5c10f1_orthodontics-dentist-webflow-template.svg" alt="Orthodontics" class="image card-service" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
                                    <div class="card-service-content">
                                        <h2 class="title card-service heading-size-h3" style="color: rgb(24, 20, 67);">Orthodontics</h2>
                                        <p class="paragraph card-service">Lorem ipsum dolor sit amet, diument consectetur adipiscing elit. </p>
                                        <div class="link-underline-wrapper">
                                            <div>Learn More</div>
                                            <div class="underline" style="transform: translate3d(-100%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div role="listitem" class="card-service-item w-dyn-item">
                                <a href="/service/oral-hygiene" class="card service w-inline-block">
                                    <div class="image-wrapper card-service"><img src="https://assets.website-files.com/601d7e7320ecf0fa9e816a33/60bb874c82759a7762ec0820_oral-hygiene-dentist-webflow-template.svg" alt="Oral Hygiene" class="image card-service" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
                                    <div class="card-service-content">
                                        <h2 class="title card-service heading-size-h3" style="color: rgb(24, 20, 67);">Oral Hygiene</h2>
                                        <p class="paragraph card-service">Lorem ipsum dolor sit amet, diument consectetur adipiscing elit. </p>
                                        <div class="link-underline-wrapper">
                                            <div>Learn More</div>
                                            <div class="underline" style="transform: translate3d(-100%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div role="listitem" class="card-service-item w-dyn-item">
                                <a href="/service/dental-treatment" class="card service w-inline-block">
                                    <div class="image-wrapper card-service"><img src="https://assets.website-files.com/601d7e7320ecf0fa9e816a33/60bb8752f6078b572c75fbf9_dental-treatment-dentist-webflow-template.svg" alt="Dental Treatment" class="image card-service" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
                                    <div class="card-service-content">
                                        <h2 class="title card-service heading-size-h3" style="color: rgb(24, 20, 67);">Dental Treatment</h2>
                                        <p class="paragraph card-service">Lorem ipsum dolor sit amet, diument consectetur adipiscing elit. </p>
                                        <div class="link-underline-wrapper">
                                            <div>Learn More</div>
                                            <div class="underline" style="transform: translate3d(-100%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div role="listitem" class="card-service-item w-dyn-item">
                                <a href="/service/dental-surgery" class="card service w-inline-block">
                                    <div class="image-wrapper card-service"><img src="https://assets.website-files.com/601d7e7320ecf0fa9e816a33/60bb87590c28d3760172637f_dental-surgery-dentist-webflow-template.svg" alt="Dental Surgery" class="image card-service" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
                                    <div class="card-service-content">
                                        <h2 class="title card-service heading-size-h3" style="color: rgb(24, 20, 67);">Dental Surgery</h2>
                                        <p class="paragraph card-service">Lorem ipsum dolor sit amet, diument consectetur adipiscing elit. </p>
                                        <div class="link-underline-wrapper">
                                            <div>Learn More</div>
                                            <div class="underline" style="transform: translate3d(-100%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div role="listitem" class="card-service-item w-dyn-item">
                                <a href="/service/dental-implants" class="card service w-inline-block">
                                    <div class="image-wrapper card-service"><img src="https://assets.website-files.com/601d7e7320ecf0fa9e816a33/60bb876299013621b3a156cd_dental-implants-dentist-webflow-template.svg" alt="Dental Implants" class="image card-service" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
                                    <div class="card-service-content">
                                        <h2 class="title card-service heading-size-h3" style="color: rgb(24, 20, 67);">Dental Implants</h2>
                                        <p class="paragraph card-service">Lorem ipsum dolor sit amet, diument consectetur adipiscing elit. </p>
                                        <div class="link-underline-wrapper">
                                            <div>Learn More</div>
                                            <div class="underline" style="transform: translate3d(-100%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div><img src="https://assets.website-files.com/601d7e7320ecf079f58169fd/6022b3d535d4e29e42b37891_shape-1-services-dentist-template.svg" data-w-id="72357fd5-bc7a-79cd-c7c6-bf38322bca2e" alt="" class="shape services-2" style="will-change: transform; transform: translate3d(0px, 65px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
            </div>
        </section>

        <section data-w-id="72357fd5-bc7a-79cd-c7c6-bf38322bca11" class="section services wf-section">
            <div class="container-default w-container">

                <div data-w-id="413c3d05-70c2-81cd-e123-88ea1ac91d8b" class="plan-content-top">
                    <div class="plan-title-wrapper">
                        <h1 class="title plan">Медицинское диагностическое оборудование</h1>
                    </div>
                    <p class="paragraph plan-description">То, без чего сегодня невозможно представить современную медицину. Эта категория включает в себя компьютерные и магнитные томографы, рентгенологические сканеры, аппараты для ультразвукового исследования, маммографы и другие виды аппаратуры.</p>
                    <div class="subtitle">Перечень оборудования</div>
                    <div class="w-layout-grid plan-features-grid">
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Рентген аппараты (рентгеноскопия, флюорография, рентгенография)
                            </div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Томографы (компьютерные, магнитно-резонансные, позитронно-эмиссионные)
                            </div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Маммографы</div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>УЗИ аппараты (портативные УЗИ аппараты, стационарные УЗИ аппараты)</div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Электрокардиографы</div>
                        </div>
                    </div>
                </div>

                <div data-w-id="413c3d05-70c2-81cd-e123-88ea1ac91d8b" class="plan-content-top">
                    <div class="plan-title-wrapper">
                        <h1 class="title plan">Реанимационное, анестезиологическое и хирургическое оборудование </h1>
                    </div>
                    <p class="paragraph plan-description">Это комплекс аппаратуры, который позволяет проводить высокотехнологичные операции, применять эффективное и безопасное обезболивание, проводить экстренные реанимационные меры по спасению жизни и здоровья пациентов. В него входят как
                        столы и светильники для операционных, так и медицинские насосы, наркозно-дыхательные аппараты, мониторы пациентов. От правильного подбора этой техники зависит качество работы персонала, а значит, и результат лечения пациентов.
                    </p>
                    <div class="subtitle">Перечень оборудования</div>
                    <div class="w-layout-grid plan-features-grid">
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Мониторы пациентов
                            </div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Центральная станция мониторирования
                            </div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Дефибрилляторы-мониторы</div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Наркозно-дыхательные аппараты</div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Аппараты искусственной вентиляции лёгких</div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Медицинские насосы</div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Светильники операционные</div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Операционные столы
                            </div>
                        </div>
                    </div>
                </div>



                <div data-w-id="413c3d05-70c2-81cd-e123-88ea1ac91d8b" class="plan-content-top">
                    <div class="plan-title-wrapper">
                        <h1 class="title plan">Медицинское диагностическое оборудование</h1>
                    </div>
                    <p class="paragraph plan-description">То, без чего сегодня невозможно представить современную медицину. Эта категория включает в себя компьютерные и магнитные томографы, рентгенологические сканеры, аппараты для ультразвукового исследования, маммографы и другие виды аппаратуры.</p>
                    <div class="subtitle">Перечень оборудования</div>
                    <div class="w-layout-grid plan-features-grid">
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Рентген аппараты (рентгеноскопия, флюорография, рентгенография)
                            </div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Томографы (компьютерные, магнитно-резонансные, позитронно-эмиссионные)
                            </div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Маммографы</div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>УЗИ аппараты (портативные УЗИ аппараты, стационарные УЗИ аппараты)</div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Электрокардиографы</div>
                        </div>
                    </div>
                </div>

                <div data-w-id="413c3d05-70c2-81cd-e123-88ea1ac91d8b" class="plan-content-top">
                    <div class="plan-title-wrapper">
                        <h1 class="title plan">Лабораторное медицинское оборудование </h1>
                    </div>
                    <p class="paragraph plan-description">Это комплекс технических устройств, в который входят различные приборы, аппараты и приспособления, дающие возможность осуществлять лабораторные исследования для различных медицинских целей. Основным назначением лабораторного медицинского
                        оборудования в медицинских лабораториях является проведение исследований физических и химических свойств различных веществ, проб окружающей среды, а также биологических тканей и жидкостей.</p>
                    <div class="subtitle">Перечень оборудования</div>
                    <div class="w-layout-grid plan-features-grid">
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Медицинские анализаторы (биохимические, гематологические, коагулометры, иммунохимические, микробиологические, анализаторы мочи и кала, анализаторы СОЭ)
                            </div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Микроскопы лабораторные и профессиональные
                            </div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Фармацевтические холодильники и морозильные камеры </div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Электрохимическое оборудование</div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Весы лабораторные, аналитические и медицинские</div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Лабораторная и медицинская мебель
                            </div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Лабораторное оборудование</div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Ламинарные и бактерицидные шкафы
                            </div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Центрифуги и перемешивательные аппараты
                            </div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Стерилизаторы и дезинфицирующие аппараты </div>
                        </div>
                    </div>
                </div>

                <div data-w-id="413c3d05-70c2-81cd-e123-88ea1ac91d8b" class="plan-content-top">
                    <div class="plan-title-wrapper">
                        <h1 class="title plan">Медицинские эндоскопы </h1>
                    </div>
                    <p class="paragraph plan-description">Это диагностическое и терапевтическое оборудование с широкой сферой применения. Основное назначение – проведение диагностических обследований органов ЖКТ и терапевтического лечения под видеонаблюдением или контролем УЗИ.</p>
                    <div class="subtitle">Перечень оборудования</div>
                    <div class="w-layout-grid plan-features-grid">
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Гастроскопы
                            </div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Томографы (компьютерные, магнитно-резонансные, позитронно-эмиссионные)
                            </div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Колоноскопы</div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Дуоденоскоп</div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Энтероскопы</div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Видеооборудование и система визуализации</div>
                        </div>
                    </div>
                </div>

                <div data-w-id="413c3d05-70c2-81cd-e123-88ea1ac91d8b" class="plan-content-top">
                    <div class="plan-title-wrapper">
                        <h1 class="title plan">Средства для реабилитации инвалидов</h1>
                    </div>
                    <p class="paragraph plan-description">К средствам реабилитации инвалидов относятся устройства, содержащие технические решения, в том числе специальные, используемые для компенсации или устранения стойких ограничений жизнедеятельности инвалида.</p>
                    <div class="subtitle">Перечень оборудования</div>
                    <div class="w-layout-grid plan-features-grid">
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Средства для реабилитации пациентов
                            </div>
                        </div>
                        <div class="plan-feature-wrapper"><img src="/images/icons/serv-check.svg" alt="Check Icon - Dentist Webflow Template" class="image plan-feature-icon">
                            <div>Тренажёры для активно-пассивной реабилитации
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

</Layout>


<style>

</style>