---
const currentYear = new Date().getFullYear();
---

<footer class="footer">
    <div class="container-default w-container">

        <div class="divider footer-divider"></div>

        <div data-w-id="3953dade-8bd0-8812-4219-bd47786d5881" class="footer-bottom" style="opacity: 1;">
            <div class="split-content footer-left">
                <a href="/" class="footer-logo-link w-inline-block"><img src="./images/logo.svg" class="footer-logo"></a>
                <div class="w-layout-grid footer-social-media-grid">
                    <a href="https://wa.me/+79241600011" target="_blank" class="footer-social-media-link"><img src="/images/icons/ftr-whatsapp.svg"></a>
                    <!-- <a href="https://telegram.org/" target="_blank" class="footer-social-media-link icon-17px"><img src="/images/icons/ftr-telegram.svg"></a> -->
                </div>
            </div>
            <div class="split-content footer-right">
                <div>Все права защищены © Мед Якутия {currentYear} - Разработка и дизайн <a href="https://simbios.agency" target="_blank">Simbios | Digital Agency</a></div>
            </div>
        </div>
    </div>
</footer>
