---
import Container from './Container.astro';
import Logo from './Logo.astro';
import SocialList from './SocialList.astro';
---

<script>
  import './ThemeToggleButton/theme-toggle-button'
</script>

<header>
  <div class="div-block-10">
    <div class="columns-3 w-row">
        <div class="column-11 w-col w-col-6"><a href="/"><img src="/logo.svg"alt="logo"></a></div>
        <div class="column-10 w-col-6">
            <div class="div-block-8">
                <a class="text-block-6" href="/music">
                    Music
                </a>
                <a href="/arts">
                    <div class="text-block-6">Arts</div>
                </a>
                <a href="/links">
                    <div class="text-block-6">Links</div>
                </a>
                <a href="/about">
                    <div class="text-block-6">About</div>
                </a>
                <div class="div-block-9"><img src="https://uploads-ssl.webflow.com/6350de25b6de2eb628c3ba65/636d3604baa7575903206ce5_view-grid-add.svg" alt=""></div>
            </div>
        </div>
    </div>
</div>

</header>

