---
import { getAllRel } from '../lib/api.js';
import { getSanityImageURL, formatBlogPostDate, formatMusicPerv } from '../utils/helpers.js'

export interface Props {
  music: any;
  innerText: any;
}

const art = await getAllRel();
const music = art.find((art) => art.slug.current);
const { title, } = music;

const getAllRels = await getAllRel();
---
<section data-w-id="Section" class="section home-hero wf-section">
    <div class="container-default home-hero w-container">
        <div class="home-hero-wrapper">
            <div data-w-id="bb518700-d1bc-14b5-aeb6-a2c3d0919035" style="-webkit-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
                class="home-hero-content">
                <h1 class="title home-hero">Своевременная поставка медоборудования по всей Якутии!</h1>
                <p class="paragraph home-hero">Мы поставляем медицинское оборудование для оснащения медицинских учреждений, больниц и поликлиник.
                </p>
                <div class="_2-buttons"><a href="https://wa.me/+79241600011" class="button-primary _2-buttons w-button">Написать в WhatsApp</a><a href="tel:+7 (999) 999 - 9999" class="button-secondary _2-buttons w-button">Позвонить</a></div>
            </div><img src="601d7e7320ecf079f58169fd/60217332b8c612f2a0a5de24_shape-2-home-hero-dentist-template.svg" alt="" class="shape home-hero-1"><img src="601d7e7320ecf079f58169fd/6021759e4219372dec580c44_shape-2-home-hero-dentist-template.svg"
                alt="" class="shape home-hero-2"></div>
    </div>
    <div data-w-id="Div Block 5" style="-webkit-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
        class="image-wrapper home-hero">
        <img src="https://static.tildacdn.com/tild3634-6663-4530-b036-363132613630/___4.png" class="image home-hero"></div>
</section>

<!-- Меню -->
<section data-w-id="Section 2" class="section home-about-clinic wf-section">
    <div class="container-default w-container">
        <div data-w-id="d5bc9648-e229-83fd-562e-bb62cbee885c" style="-webkit-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
            class="card about-clinic">
            <div class="card-about-clinic-wrapper"><img src="/images/icons/m-mail.svg" alt="Contact Us - Dentist Webflow Template" class="image card-about-clinic-icon">
                <div class="card-about-clinic-content">
                    <h2 class="title card-about-clinic">Контакты</h2><a href="tel:+7 (924) 160-00-11" class="about-clinic-contact-link">+7 (924) 160-00-11</a><a href="mailto:med-yakutia@mail.ru" class="about-clinic-contact-link">med-yakutia@mail.ru</a>
                    <a data-w-id="Link Block" href="#Contact" class="link-underline-wrapper w-inline-block">
                        <div>Подробнее</div>
                        <div style="-webkit-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                            class="underline"></div>
                    </a>
                </div>
            </div>
            <div class="divider card-about-clinic"></div>
            <div class="card-about-clinic-wrapper"><img src="/images/icons/m-pin.svg" alt="Clock Icon - Dentist Webflow Template" class="image card-about-clinic-icon">
                <div class="card-about-clinic-content">
                    <h2 class="title card-about-clinic">Адрес</h2>
                    <p class="paragraph-small about-clinic-open-hours-text">83\3г офис 28</p>
                    <p class="paragraph-small about-clinic-open-hours-text">ул. Стадухина</p>
                    <p class="paragraph-small about-clinic-open-hours-text"><span class="accent-text">г. Якутск</span></p>
                </div>
            </div>
            <div class="divider card-about-clinic"></div>
            <div class="card-about-clinic-wrapper"><img src="/images/icons/m-sign.svg" alt="Services - Dentist Webflow Template" class="image card-about-clinic-icon">
                <div class="card-about-clinic-content">
                    <h2 class="title card-about-clinic">Связь</h2>
                    <a href="tel:+7 (924) 160-00-11"><p class="paragraph-small about-clinic-services-text">WhatsApp</p></a>
                    <!-- <p class="paragraph-small about-clinic-services-text">Telegram</p>
                    <p class="paragraph-small about-clinic-services-text">Viber</p> -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Карусель -->
<section data-w-id="Section 3" class="section home-services wf-section">
    <div class="container-default w-container">
        <div data-w-id="c0e52e19-1516-7569-a135-ddd46203bd2b" style="-webkit-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
            class="content-top home-services"><img src="601d7e7320ecf079f58169fd/6021759e78b443ade1a9a9cd_shape-home-services-dentist-template.svg" alt="" class="shape home-services">
            <div class="split-content home-services-left">
                <div class="subtitle">Оборудование</div>
                <h2 class="title home-services">Медицинское оборудование</h2>
            </div>
            <div class="split-content home-services-right"><a href="services-list" class="button-primary w-button">Все оборудование</a></div>
        </div>
        <div data-delay="4000" data-animation="slide" class="home-services-slider w-slider" data-autoplay="false" data-easing="ease" style="-webkit-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(null, 60px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
            data-hide-arrows="false" data-disable-swipe="false" data-w-id="4aed9067-4b0e-7cfb-8002-af9678613dc4" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
            <div class="home-services-slider-mask w-slider-mask">
                <div>
                    {getAllRels.map((music) => (
                    <div class="home-service-slide w-slide">
                      <div class="w-dyn-list">
                        <div role="list" class="w-dyn-items">
                          <div role="listitem" class="slider-card-service-item w-dyn-item">
                            <a href={`${music.slug.current}`} class="card slider-service w-inline-block">
                              <div class="image-wrapper slider-card-service">
                                <img src={getSanityImageURL(music.imagemain).url()} alt="Cosmetic Dentistry" class="image slider-card-service">
                              </div>
                              <div class="slider-card-service-content">
                                <h3 class="title slider-card-service">{music.title}</h3>
                                <p class="paragraph slider-card-service">{music.dis}</p>
                                <div class="link-underline-wrapper">
                                  <div>Перейти к оборудованиям</div>
                                  <div class="underline"></div>
                                </div>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>

                    ))}
                  </div>





            </div>
            <div class="slide-left-arrow w-slider-arrow-left">
                <div class="w-icon-slider-left"></div>
            </div>
            <div class="slide-right-arrow w-slider-arrow-right">
                <div class="w-icon-slider-right"></div>
            </div>
            <div class="slide-nav w-slider-nav w-round"></div>
        </div>
    </div>
</section>

<!-- Преимущества -->
<section id="Commoda" data-w-id="Section 3" class="section values wf-section">
    <div class="container-medium-653px values">
        <div data-w-id="c0e52e19-1516-7569-a135-ddd46203bd2b" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="values-content-top">
            <!-- <div class="subtitle">Наши</div> -->
            <h2>Преимущества</h2>
        </div>
    </div>
    <div class="container-default w-container">
        <div class="values-bottom-wrapper">
            <div data-w-id="Grid 3" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="w-layout-grid values-grid">
                <div class="card value"><img src="/images/icons/pre/1.svg" alt="Trust Icon - Dentist Webflow Template" class="image card-value-icon">
                    <div class="card-value-content">
                        <h3 class="title card-value">Поставка</h3>
                        <p>Надёжного медицинского оборудования импортного и отечественного производства, наша фирма успешно занимается поставкой медицинского оборудования по параллельному импорту.
                        </p>
                    </div>
                </div>
                <div class="card value"><img src="/images/icons/pre/2.svg" alt="Responsability - Dentist Webflow Template" class="image card-value-icon">
                    <div class="card-value-content">
                        <h3 class="title card-value">Более 8 лет</h3>
                        <p>Успешной работы на рынке государственных, муниципальных и коммерческих закупках, в кейсе компании более 100 успешно реализованных контракта
                        </p>
                    </div>
                </div>
                <div class="card value"><img src="/images/icons/pre/3.svg" alt="Care &amp; Service - Dentist Webflow Template" class="image card-value-icon">
                    <div class="card-value-content">
                        <h3 class="title card-value">Поставка по всей территории</h3>
                        <p>Российской Федерации и Республики Саха (Якутия), наши специалисты готовы надёжно доставить продукцию в любой населённый пункт.
                        </p>
                    </div>
                </div>
                <div class="card value"><img src="/images/icons/pre/4.svg" alt="Commitment - Dentist Webflow Template" class="image card-value-icon">
                    <div class="card-value-content">
                        <h3 class="title card-value">Качественное</h3>
                        <p>Сервисное, техническое и гарантийное обслуживание поставляемого медицинского оборудования;</p>
                    </div>
                </div>

                <div class="card value"><img src="/images/icons/pre/5.svg" alt="Care &amp; Service - Dentist Webflow Template" class="image card-value-icon">
                    <div class="card-value-content">
                        <h3 class="title card-value">Помощь</h3>
                        <p>В подборе оборудования, наши специалисты готовы оказать консультацию по любым интересующим вас вопросам;
                        </p>
                    </div>
                </div>
                <div class="card value"><img src="/images/icons/pre/6.svg" alt="Commitment - Dentist Webflow Template" class="image card-value-icon">
                    <div class="card-value-content">
                        <h3 class="title card-value">Работаем на прямую</h3>
                        <p>С заводами производителями и готовы предоставить индивидуальные условия поставки по минимальным ценам.</p>
                    </div>
                </div>
            </div>

            <img src="601d7e7320ecf079f58169fd/6021e6122fdb9e6fb316edce_shape-2-values-dentist-template.svg" alt="" class="shape values-2" style="will-change: transform; transform: translate3d(0px, -4.50072px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
    </div>
</section>

<!-- Контакты -->
<section id="Contact" class="section contact wf-section">
    <div class="container-default w-container">
        <div class="contact-wrapper">
            <div data-w-id="092e0bb1-a481-f8fb-9fa6-ae185a823704" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="split-content contact-left">
                <div class="contact-content-top">
                    <h1 class="title contact">Связь с нами!</h1>
                    <br>
                    <p>Для получения КП, напишите в WhatsApp</p>
                </div>
                <div class="contact-content-bottom">
                    <h2 class="title contact-more-information">Контактые данные</h2>
                    <div class="w-layout-grid more-information-grid">
                        <div class="more-information-wrapper"><img src="/images/icons/pin.svg" alt="Location Icon - Dentist Webflow Template" class="image more-information">
                            <div class="more-information-content">
                                <h3 class="title more-information-content">Адрес</h3>
                                <div class="more-information-text">г. Якутск, ул. Стадухина 83\3г офис 28</div>
                            </div>
                        </div>
                        <div class="more-information-wrapper"><img src="/images/icons/mail.svg" alt="Email Icon - Dentist Webflow Template" class="image more-information">
                            <div class="more-information-content">
                                <h3 class="title more-information-content">Эл.почта</h3><a href="mailto:med-yakutia@mail.ru" class="more-information-link">med-yakutia@mail.ru</a></div>
                        </div>
                        <div class="more-information-wrapper"><img src="/images/icons/h-phone.svg" alt="Phone Icon - Dentist Webflow Template" class="image more-information">
                            <div class="more-information-content">
                                <h3 class="title more-information-content">Телефон</h3><a href="tel:+7 (924) 160-00-11" class="more-information-link">+7 (924) 160-00-11</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="split-content contact-right">
                <iframe style="border-radius: 16px;" src="https://yandex.ru/map-widget/v1/?um=constructor%3A9fcc817ee2954ddec32952714308f247e418896e5bafdfa333b19e0d59c812f9&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
                <div style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="card contact-form">
                </div>
            </div>
        </div>
    </div>
    <div class="bg contact"></div>
</section>